* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section {
    height: 100vh;
    background-image: url(/imgs/bb-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
}