* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.hero-section {
    height: 100vh;
    background-image: url(/imgs/bb-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;

    padding: 12px 16px;
}

.container {
    background-color: seagreen;
    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 2rem;
}

.container .title {
    display: inline;
    font-size: 2rem;
}

.container .text {
    display: inline;
}

button {
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 12px 16px;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    margin: 2rem 0;
}

.color-pallete {
    height: 200px;
    width: 500px;
    background-color: sienna;
    border-radius: 2rem;

    overflow: hidden;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 2px;

}

.color-container {
    height: 100px;
    /* background-color: red; */

}

.red {background-color: #ff0000;}
.blue {background-color: #0000ff;}
.green {background-color: #008000;}
.orange {background-color: #ffa500;}
.yellow {background-color: #ffff00;}
.purple {background-color: #800080;}


.hidden {
    display: none;
}