* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.hero-section {
    height: 100vh;
    background-image: url(/imgs/bb-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;

    padding: 12px 16px;
}

.container {
    background-color: seagreen;
    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 2rem;
}

.container .title {
    display: inline;
    font-size: 2rem;
}

.container .text {
    display: inline;
}